	@import 'https://fonts.googleapis.com/css?family=Cinzel';
	* {
		padding:0;
		margin:0;
	}

	html, body {
		height:100%;
		word-wrap : break-word;
		overflow-wrap : break-word;
	}

	.skrollr-desktop body {
		height:100% !important;
	}

	body {
		background-attachment: fixed;
		background-image: url(../img/bg_01.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		color: #ff6699;
		font-family:archivo_blackregular,futura-pt,HelveticaNeue-Bold,"Helvetica Neue Bold","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	}
	
	a:hover { opacity: 0.4; }
	
	header {
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		display: block;
		height: 100vh;
		text-align: center;
		position: relative;
		width: 100%;
		z-index: 0;
		overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
	}
/*:beforeにぼかし効果を設定する*/
	header:before{
		content: '';
		background: inherit;/*.bgImageで設定した背景画像を継承する*/
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
		position: absolute;
		/*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
		top: -5px;
		left: -5px;
		right: -5px;
		bottom: -5px;
		z-index: -1;/*重なり順序を一番下にしておく*/
	}
	header h1 {
    	display: block;
    	width: 100%;
	}
	h2 { 
		display: block;
		margin: 10% 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		height:35px;
		opacity: 0.7;
		width: 100%;
	}
	h3 { font-weight: bold; letter-spacing: 8px; text-align: center; margin: 3% 0; }
	
	section { display: block; background-image: url(../img/bg.png); padding-top: 10%; }
	
	.tourdates { background-image: url(../img/h2_tour.png); }
	.video { background-image: url(../img/h2_video.png); }
	.goods { background-image: url(../img/h2_goods.png); }
	
	.tour li{ vertical-align: middle; }
	
	.pcdate { border-bottom-style: solid ; border-bottom-color: #ff6699; padding: 1% 0; margin: 2% 0; }
	.pcdate li { letter-spacing: 3px; }
	
	.date { background-color: #ff6699; color: #000000; font-size: 80%; letter-spacing: 2px; padding:2% 0; text-align: center; width: 90%; }
	.city { font-size: 80%; opacity: 0.7; }
	.venue {}
	.detail { font-size: 80%; margin: 2% 0; }
	
	.nt{ text-indent: 100%; white-space: nowrap; overflow: hidden; font-size: 1px; line-height: 0%; padding: 0; }
	
	.tour { width: 100%; }
	.tour li { display: inline-block; }
	
	.item_wrap { display: inline-block; margin: 1% 0; vertical-align: top; width: 33%; }
	
	.item_wrap dl { margin:0 auto; position: relative; }
	.item_wrap dt {  }
	.item_wrap dd { bottom: 2%; color: #000000; position: absolute; width: auto; }
	.item_wrap dd p { padding: 1% 2%; width: 100%; }
	.item_wrap dt img { width: 100%; }
	.item_wrap p { font-size: 90%; width: 90%; }
	.name { background-color:#ff6699; color: #fff; font-weight: bold; }
	.price { color: #ff6699; }
	
	.youtube {
		position: relative;
		height: 0;
		padding: 30px 0 56.25%;
		overflow: hidden;
		}
		
	.youtube iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
		}
	.video_info {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.video_info li:nth-child(1n) { margin-bottom: 3%; }
	.video_info li:nth-child(1) span { background-color: #ff6699; color: #fff; padding: 0 5%; }
	.video_info li:nth-child(2) span { background-color: #fff; color: #000; font-size: 120%; padding: 0 5%;}
	
	#social_icon { margin: 5% auto ; }
	#social_icon li { display: inline-block; width: 60px; }
	#social_icon li img { width: 80%; }
	#copyright { font-size: 80%; margin-bottom: 5%; }

	footer { position: relative; text-align: center; width: 100%; }
 
/* smartPhone */
@media screen and (max-width: 640px) {
	
	header { background-image: url(../img/top_sph.jpg); }
	header h1 {
	    background:url(../img/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100vh;
	}
	h2 { 
		height:35px;
		width: 100%;
	}
	h3 { letter-spacing: 3px; }

	.inner { padding: 0; margin:0 auto; width: 96%; }
	.date { font-size: 80%; }
	.city { font-size: 70%;}
	.venue { font-size: 80%; }
	
	.pcdate { display: none; }
	.tour { margin: 5% 0; }
	.tour li:nth-child(1) { width: 20%; }
	.tour li:nth-child(2) { text-align: center; width: 25%; }
	.tour li:nth-child(3) { width: 50%; }
	.tour li:nth-child(4) { width: 100%; }
	
	.date { letter-spacing: 0px; }
	.detail li:nth-child(1n) { text-align: left; width: 100%; }
	
	.item_wrap {
		display: inline-block;
		margin: 1% 0;
		width: 49%;
	}
	
	.item_wrap dl { width: 96%;}
	.item_wrap dt {  }
	.item_wrap dt img { background-color: #FFF; }
	.item_wrap dd { font-size: 80%; }
	.name { font-size: 100%; }
	.price { }

}

/* tablet  */
@media only screen and (min-width: 641px) and (max-width: 960px) {
	
	header { background-image: url(../img/top_pc.jpg); background-position: top left; }

	header h1 {
	    background:url(../img/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100vh;
	}
	
	.inner { padding: 0; margin:0 auto; width: 96%; }
	
	.pcdate { border-bottom-style: solid ; border-bottom-color: #ff6699; padding: 1% 0; margin: 2% 0; }
	.tour { margin-bottom: 3%; }
	.tour li { text-align: center; }
	.tour li:nth-child(1) { width: 10%; }
	.tour li:nth-child(2) { text-align: center; width: 20%; }
	.tour li:nth-child(3) { width: 30%; }
	.tour li:nth-child(4) { text-align: left; width: 38%; }
	.detail li:nth-child(1n) { text-align: left; width: 100%; }
	
	.item_wrap { width: 32%; }
	.item_wrap dd { padding: 2% 2%; }
	.name { padding: 0% 3%; }
	
}


@media screen and (min-width: 961px)and (max-width: 1024px) {
	
	header { background-image: url(../img/top_pc.jpg); background-position: left center; }
	header h1 {
	    background:url(../img/logo.png);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center center;
		height: 98vh;
	}

	.inner { padding: 0; margin:0 auto; width: 960px; }
	.tour { margin-top: 3%; }
	.tour li { text-align: center; }
	.tour li:nth-child(1) { width: 10%; }
	.tour li:nth-child(2) { text-align: center; width: 20%; }
	.tour li:nth-child(3) { width: 30%; }
	.tour li:nth-child(4) { text-align: left; width: 38%; }
	.pcdate li:nth-child(4) { text-align: center; }
	.detail li:nth-child(1n) { text-align: left; width: 100%; }

	.item_wrap dl { width: 96%;}
	.item_wrap dd { padding: 2% 2%; }
	.name { padding: 0% 3%; }

}
/* pc */
@media screen and (min-width: 1025px) {
	header { background-image: url(../img/top_pc.jpg); }
	header h1 {
	    background:url(../img/logo.png);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100vh;
	}
	h2 { height: 70px; }
	.inner { padding: 0; margin:0 auto; width: 960px; }
	.tour { margin-top: 4%; }
	.tour li { text-align: center; }
	.tour li:nth-child(1) { width: 10%; }
	.tour li:nth-child(2) { text-align: center; width: 20%; }
	.tour li:nth-child(3) { width: 30%; }
	.tour li:nth-child(4) { text-align: left; width: 38%; }
	.pcdate li:nth-child(4) { text-align: center; }
	.detail li:nth-child(1n) { text-align: left; width: 100%; }

}
 